body {
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #000;
}

#cutter,
#overlay {
  width: 1200px;
  height: 560px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  margin-top: -280px;
  left: 50%;
  margin-left: -600px;
  pointer-events: none;
}

#overlay {
  z-index: 100000;
  background-image: url('../img/overlay.png');
}

#spaceship {
  background-image: url('../img/space.jpg');
  width: 3600px;
  height: 1680px;
}
